/* App.css */

/* Style for the sidebar container */
.sidebar {
    height: 100vh; /* Full height of the viewport */
    width: 300px; /* Width of the sidebar */
    background-color: #f2f2f2; /* Background color of the sidebar */
    position: fixed; 
    top: 0;
    left: 0;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
    /* padding-top: 20px;  */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

/* Style for the list inside the sidebar */
.sidebar ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
}

/* Style for each list item in the sidebar */
.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
    border-bottom: 1px solid rgb(193, 193, 193);
}

/* Hover effect for list items */
.sidebar ul li:hover {
    background-color: #ddd; /* Background color on hover */
}

.navItemTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.navItemAuthor {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




.selected {
    background-color: #ddd;
}